/* // Navbar */
.Navbar {
    width: 100%;
    height: 80px !important;
    align-items: center !important;
}
.Logo  {
    width: 150px;
    height: 80px;
}

.Link{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
}



.navRight{
    margin-left: 65%;
}


/* .slider{
    height: 200px;
}
.slider-Carousel{

    height: auto;    
} */
 img {
    height: 700px;
}
