/* // Navbar */
.Navbar {
    width: 100%;
    height: 80px !important;
}
.Logo  {
    width: 150px;
    height: 80px;
}







/* .slider{
    height: 200px;
}
.slider-Carousel{

    height: auto;    
} */
 img {
    height: 700px;
}
