*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.OurService{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* padding: 50px; */
    

}

/* Service Card */

.serviceCard {
    width: 525px;
    /* height: 400px; */
    /* overflow: hidden; */
    margin: 20px 3px;
    text-align: center;
}

.serviceCard > img {
    width: 100%;
    height: auto;
}